<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aaa.service.SoloResumeMapper">
	<select id="resumelist" resultType="rDTO">
   	 	select * from resume where sid = #{sid} order by rsid desc
	</select>
	
	<select id="resumedetail" resultType="rDTO">
		select * from resume where rsid = #{rsid} and sid = #{sid}
	</select>
	
	
	<insert id="resumeinsert"  parameterType="rDTO">
		insert into resume (sid, rsphoto, rstitle, rscareer, rscompany, rsworkstart, rsworkend, rswork, rsacademic, rsacademicstat, rsintroduce,
		rslicense, rslicenseorg, rslicenseyear, rslanguage, rslanguagelevel, rsregdate, rsmoddate)
		values
		(#{sid}, #{rsphoto}, #{rstitle}, #{rscareer}, #{rscompany}, #{rsworkstart}, #{rsworkend}, #{rswork}, #{rsacademic}, #{rsacademicstat}, #{rsintroduce}, 
		#{rslicense}, #{rslicenseorg},#{rslicenseyear},#{rslanguage}, #{rslanguagelevel}, sysdate(), sysdate())
	</insert>
	
	<select id="resumecnt" resultType="Integer" >
		select count(*) from resume where rsid = #{rsid} and  sid = #{sid}
	</select>
	
	<delete id="resumedelete"  parameterType="rDTO">
		delete from resume where rsid = #{rsid}
	</delete>
	
	<select id="resumebysid" resultType="rDTO">
    	SELECT * FROM resume WHERE sid = #{sid}
	</select>
	
	<!-- 이력서 수정 -->
	 <update id="resumemodify" parameterType="rDTO">
		update resume set 
		rstitle = #{rstitle}, rscareer = #{rscareer},rscompany = #{rscompany},rsworkstart = #{rsworkstart},rsworkend = #{rsworkend}, rswork= #{rswork}
		, rsacademic= #{rsacademic}, rsacademicstat= #{rsacademicstat}, rsintroduce= #{rsintroduce},rslicense = #{rslicense}
		, rslicenseorg = #{rslicenseorg}, rslicenseyear= #{rslicenseyear}, rslanguage= #{rslanguage}, rslanguagelevel= #{rslanguagelevel}
		, rsmoddate= sysdate() , rsphoto = #{rsphoto}
		where rsid = #{rsid} and sid = #{sid}
	</update>
	
	<select id="resumefiledetail" resultType="rDTO">
		select * from resume where rsid = #{rsid}
	</select>
	
	<update id="fileDelete" parameterType="rDTO">
		update resume set rsphoto = null where rsid = #{rsid}
	</update>
</mapper>