@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
*{margin: 0;padding: 0;}
body{
	width: 100%;
	margin: 0;padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* min-height 요소의 최소 높이 설정 */
    /* vh 단위는 viewport의 크기  */
    /* https://developer.mozilla.org/ko/docs/Learn/CSS/Building_blocks/Values_and_units */
    /* vh 추가설명 출처-mozilla */
    min-height: 100vh;

   	padding: 0px;
			margin: 0px;
}
.box{
    position: absolute;
    width: 380px;
    height: 500px;
    background-color: rgba(0, 0, 0,0.3);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    /* 이거빼고 보면 애니메이션 사각형으로 크게 제어를 햇지만 */
    /* overflow: hidden; 를사용함으로서 이쁘게 선만 나옴 */
}




.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
   
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent,
    rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    z-index: 1;
    /* animate 션 효과는 keyframes과 animation로 중간상태를 정의하여 나타냄 */
    /* https://webclub.tistory.com/621 참고 */
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -1.5s;
}

.borderLine::after{
 
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent,
    rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    z-index: 1;
    /* animate 션 효과는 keyframes과 animation로 중간상태를 정의하여 나타냄 */
    /* https://webclub.tistory.com/621 참고 */
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4.5s;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;

    /* inset - padding 처럼 안쪽 여백을 줄수있지만 패딩도 주고싶을때 씀 ,rgb(43, 43, 43)*/
    inset: 4px;

   background: linear-gradient(to bottom,rgb(62, 23, 9), rgb(79, 83, 77));

    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    position: relative;
    width: 300px;
    margin-top: 35px;
    color: white;
    text-align: center;
}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputbox input{
    position: relative;
    width: 95%;
    padding: 20px 5px 10px;
    background: transparent;

    /* 외곽선을 지웠습니다 이상한거 많음.. thick 같은거*/
    /* outline: thick double #32a1ce; */
    /* https://developer.mozilla.org/ko/docs/Web/CSS/outline */
    outline: none;
	border-radius: 3%;
     background-color: rgb(255, 255, 255);
    font-size: 1em;
    /* 자간 설정 */
    letter-spacing: 0.05em;

    transition: 0.5s;
    z-index: 10;
    border: none;
    /* 스타일 지정을 주지않아 테두리가 보이지 않게함 */
    
}
.box form .inputbox span{
    position: absolute;
    left: 0;
    bottom: 0;
   width: 90%;
    height: 2.2px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    pointer-events: none;
    
    font-size: 1em ;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span{
   
    font-size: 0.75em;
    transform: translateY(-34px);
}


.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
    height: 44px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 10px 0;
    font-size: 0.75em ;
   color: rgb(199, 199, 199);
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2){
    color: rgb(255, 255, 255);
}

.box form input[type="submit"] {
    padding: 9px 89px;
    width: 250px;
   color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    background: rgb(0, 0, 0,0.6);
    /* width: 100px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
}

.box form input[type="submit"]:active{
    opacity: 0.8;
}