body{
  height: 100%;
}

#solo_payment{
	font-family: 'Noto Sans KR', sans-serif;
	padding: 30px;
	background-color: white;
 	height: 100%; /* 기본값으로 설정되어 있음 */
 	max-width: 1200px;
 	padding-bottom: 50px;
}

/* 개인정보 보기 텍스트 */
#payment_text{
	font-size: 30px;
	color: rgb(55, 63, 87);
	font-weight: 450;
	margin-top: 50px;
	margin-left: 70px;
	margin-bottom: 40px;
}

#payment_list{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0px 20x 0px;
	border-top: 1px solid rgb(199, 199, 199);
	border-bottom: 1px solid rgb(199, 199, 199);
	margin-bottom: 70px;
}

#payment_list th{
	text-align: center;
	height: 50px;
	border-bottom: 1px solid #ccc;
	letter-spacing: 7px;
	font-size: 17px;
}

#payment_list tr{
	text-align: center;
}

#payment_list td{
	padding: 15px;
	transition: background-color 0.2s ease;
}

#payment_list tbody tr:hover{
	background-color: rgb(243, 243, 243);
}


#info_list ul{
	padding-left: 0px;
}

/* 회원 유형 */
#member_category{
	width: 1000px;

	text-align: right;
	margin-bottom: 15px;
}

#member_category_text::after{
	content: "|";
	color: #ccc;
	margin-left: 8px;
	margin-right: 10px;
}

.material-symbols-outlined{
	position: relative;
	bottom: -7px;
	font-weight: 350;
	color: rgb(55, 63, 87);
}

#member_category div{
	display: inline-block;
	font-size: 15px;
}

#member_category li{
	list-style: none;
	letter-spacing: 1px;
}


/* 기본 정보 */
#basic_info{
	margin-left: 20px;
	margin-bottom: 50px;
}

#basic_info div{
	margin-bottom: 20px;
}

#basic_info_text{
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#basic_info div li{
	display: inline-block;

	text-align: left;
	font-weight: 400;
	color: rgb(125, 125, 125);
	padding: 10px;
	letter-spacing: 3px;
}


#basic_info div li:nth-of-type(1){
	border-right: 1px solid #eee;
	margin-right: 30px;
		width: 90px;
}

#basic_info div li:nth-of-type(2){
	color:rgb(83, 96, 132);
}



/* 연락처 정보 */
#contact_info{
	
	margin-left: 20px;
	
}

#contact_info div{
	margin-bottom: 20px;
}

#contact_info div li{
	display: inline-block;
	text-align: left;
	font-weight: 400;
	color: rgb(125, 125, 125);
	padding: 10px;
	letter-spacing: 3px;
}

#contact_info div li:nth-of-type(1){
	border-right: 1px solid #eee;
	margin-right: 30px;
	width: 90px;
}

#contact_info div li:nth-of-type(2){
	color:rgb(83, 96, 132);
}


#contact_info_text{
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;

}

/* 재직 정보 */
#jaejik_info{
	float:right;
}f

#jaejik_info div{
	margin-bottom: 20px;
}

#jaejik_info_text{
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-bottom: 20px;
		padding-bottom: 10px;

}

#jaejik_info div li{
	display: inline-block;
	text-align: left;
	font-weight: 400;
	color: rgb(125, 125, 125);
	padding: 10px;
	letter-spacing: 3px;
	
}

#jaejik_info div li:nth-of-type(1){
	border-right: 1px solid #eee;
	margin-right: 30px;
	width: 90px;
	padding-right:20px;
}

#jaejik_info div li:nth-of-type(2){
	color:rgb(83, 96, 132);
}

#jaejik_info button{
	border: 1px solid rgb(150, 150, 150);
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
	width: 110px;
	height: 30px;
	letter-spacing: 1px;
	border-radius: 10px;
}

#jaejik_info button:hover{
	transition: background-color 0.2s ease;	
	background-color: rgb(240, 240, 240);
}


#contact_info, #jaejik_info {
  display: inline-block;
  vertical-align: top; /* 상하 정렬을 조절합니다. 필요에 따라 조절하세요. */
}

/* 수정 삭제 버튼 */
#modify_button{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 70px;

}


#modify_button a:nth-of-type(1){
	margin-right: 10px;
	letter-spacing: 2px;
	padding: 8px 80px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: rgb(106, 164, 249);
	border-radius: 20px;
	transition: background-color 0.2s ease;	
	
}

#modify_button a:nth-of-type(1):hover{
	background-color: rgb(147, 188, 251);
}

#modify_button a:nth-of-type(2){
	margin-left: 10px;
	letter-spacing: 2px;
	padding: 8px 80px;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color:  rgb(158, 158, 158);
	
	border-radius: 20px;
	transition: background-color 0.2s ease;	
	
}

#modify_button a:nth-of-type(2):hover{
	
	background-color:  rgb(189, 189, 189);
	color: rgb(255, 255, 255);
}