<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/css.css}">
</head>

<body>
<header>
		<div th:insert="~{header :: header}"></div>
	</header>
<div class="board_wrap">
    <div class="board_title">
    </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    신용카드 결제가 중복으로 된 것 같아요.결제 취소 어떻게 하나요?
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>4</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>오왕매니저</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>2023.9.24</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>125</dd>
                    </dl>
                </div>
                <div class="cont" style="white-space: pre-wrap;">
신용카드 결제 시 [결제완료] 버튼을 두번 이상 클릭한 경우, 결제가 중복으로 될 수도 있습니다.


카드결제 승인처리가 중복으로 처리 된 경우, 

오왕 고객센터로 문의주시면 확인 후 신속히 처리해드리도록 하겠습니다.


☞ 오왕 고객센터 : 02-1234-5678, 평일 09:00~19:00
                </div>
            </div>
            <div class="bt_wrap">
                <a href="/qna/qna" class="on">목록</a>
            </div>
        </div>
    </div>

</body>
</html>