<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>안녕하세요</h2>
	<h2>안녕하세요</h2>

	<h1>승우</h1>
	<a href="/recruit/calendar">채용캘린더</a>
	<a href="/recruit/list/1">채용게시판</a>
	<a href="/admin/adminLogin">관리자 로그인</a>

	<h1>인덱스성길</h1>
	<a href="/join/joinok"> 회원가입 완료 페이지</a>
	<a href="/join/company"> 기업회원가입</a>
	<a href="/join/solo"> 개인회원가입</a>
	<a href="/login/main">로그인</a>

	<h1>재훈</h1>
	<a href="/home">개인서비스</a>

	<h1>화룡</h1>
	<a href="/company/mypage">기업 마이페이지</a>
	<a href="/notice/notice">공지사항</a>
	<a href="/qna/qna">QnA</a>

	<h1>은별</h1>
	<a href="/recruit/list/1">채용게시판</a>
	
</body>
</html>