<!--푸터-->

<footer>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/footer/footer.css}">

 <!-- Footer -->
 <div class="footer">
	  <!-- Footer 양쪽 margin 주기 위해 가운데 box 생성 -->
	  <div class="box">
	      <img src="/css/images/logo2_remove.png" alt="오왕logo" width="200px" height="75px">
	      
	      <div class="description">
	          <ul>
	              <li><strong>주식회사 오왕</strong></li>
	          </ul>
	          <ul>
	            <li> 대표이사 : 노승우, 권지혜, 유성길, 안재훈, 조은별</li>
	          </ul>
	          <ul>
	            <li> 주소 : 서울 강남구 테헤란로5길 24 (주)오왕</li>
	          </ul>
	          <ul>
	            <li><span >근무시간:월~금(주말, 공휴일 휴무)&nbsp</span>
	            
	              <span >| 고객지원센터 : 02-3333-7777 | </span>
	              
	              <span>&nbsp 고객문의 평일 24시간 이내 순차 답변</span>
	          </ul>
	          <ul>
	              <li>COPYRIGHT © OWANG CORP. ALL RIGHTS RESERVED</li>
	          </ul>
	      </div>
	  </div>
</div>
</footer>




