<!--pink  리모콘 -->


<sidebar>
	<link rel="stylesheet" th:href="@{/css/remocon/remocon2.css}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<div class="menu">
	  <label for="expand-menu"></label>
	  <input type="checkbox" id="expand-menu" name="expand-menu">
	  <ul>
	      <li><a href="#" class="item"><div>Home</div></a></li>
	      <li><a href="/recruit/list/all/1" class="item"><div>공고찾기</div></a></li>
	      <li><a href="/notice/notice/1" class="item"><div>공지사항</div></a></li>
	      <li><a href="#" class="item"><div>UP</div></a></li>
	       <li id="kakao_wrap">
			   <a href="http://pf.kakao.com/_xdBNAG/chat" class="kakao">
				   <div>카카오톡상담</div>
			   </a>
		   </li>
	  </ul>
	</div>
</sidebar>