<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/css.css}">
</head>

<body>

<div class="board_wrap">
    <div class="board_title">
    </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    채용대행/직업소개업소의 인력모집소개 공고등록 '불가' 안내
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>5</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>오왕매니저</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>2023.9.22</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>8282</dd>
                    </dl>
                </div>
                <div class="cont" style="white-space: pre-wrap;">
안녕하세요 오왕입니다.

오왕 사이트 내의, '채용대행업체, 직업소개소' 등의  '일당/모집광고/기타 구인구직 소개알선을 위한 '공고등록'은 절대 할 수  없으며, 발견즉시 사전 통보없이 정지 또는 삭제 처리됩니다. 

더불어 회원의 자격 및 정보이용이 제한될 수 있으니 각별한 주의 부탁드립니다.

 

* 오왕을 사칭 또는 유사형태로 피해를 입으신 경우 고객센터로 연락주시기 바랍니다.

고객센터 | 1234-5678

 

- 오왕​ - 
                </div>
            </div>
            <div class="bt_wrap">
                <a href="/notice/notice" class="on">목록</a>
            </div>
        </div>
    </div>

</body>

</html>