<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/css.css}">
</head>

<body>

<div class="board_wrap">
    <div class="board_title">
    </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    오왕 결제방식 점검완료 및 업그레이드 안내
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>1</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>오왕매니저</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>2023.9.1</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>1873</dd>
                    </dl>
                </div>
                <div class="cont" style="white-space: pre-wrap;">
안녕하세요. 오왕입니다. 

카카오페이 결제점검 업그레이드가 완료되었습니다. 

보다 편리하게 오왕 서비스를 이용하시기 바랍니다. 

감사합니다. 

* 결제관련 궁금하신 점은 고객센터 1234-5678로 문의주시기 바랍니다.
                </div>
            </div>
            <div class="bt_wrap">
                <a href="/notice/notice" class="on">목록</a>
            </div>
        </div>
    </div>

</body>
</html>