<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/css.css}">
</head>

<body>

<div class="board_wrap">
    <div class="board_title">
    </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    관련 유사업체에 주의 바랍니다
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>4</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>오왕매니저</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>2023.9.11</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>321</dd>
                    </dl>
                </div>
                <div class="cont" style="white-space: pre-wrap;">
안녕하세요 오왕 www.owang.com 입니다.

최근들어 오왕 www.owang.com  인줄 알고, 타 사이트에 가입 및 등록 하였다는 회원님들의 문의가 있어 주의사항을 알려 드립니다.

본사와 비슷한 "상호명 과 사이트 주소"  또는 상호명 앞뒤의 단어등이 들어있어서 
www.owang.com 으로, 오인하여, 신규 회원가입 및 공고 등록을 하는 경우가 발생하고 있으니 
사이트 주소 ( www.owang.com​ )를 반드시 확인 후 이용해 주시기를 당부 드립니다.

 
1> 오왕닷컴 www.owang.com 기존 회원은 리뉴얼등의 이유로 
홈페이지에서 "회원 재가입"을 할 필요가 없습니다.


2> "오왕닷컴 owang.com" 은 분점을 따로 두고 있지 않습니다.


3> 오왕닷컴/ owang.com  문구 앞뒤로 한글 및 영문을 추가하여 사용하는 경우
  예시: OOO 오왕닷컴 / 00 오왕닷컴 OO  / OOO owang.com  / 유사전화번호 등등.....

 
4> 신규 회원가입 및 공고등록시 확인 및 주의사항
홈페이지의 주소 및 대표번호 를 반드시 확인 후 이용 바랍니다.
홈페이지 사이트주소: www.owang.com  
대표번호: 1234-5678(02-1234-5678) ​


※ " 오왕(www.owang.com) "은 
2002년부터 다양한 정보와 구인구직 등을 제공하는 한식전문사이트로 출발 하였으며, 
2012년 (주)조리사 로 법인 전환 하였으며. 현재 국내 최대 회원을 보유한 한식관련 구인/구직 사이트로 성장 하였습니다. 
새로운 시스템 구축으로 실시간 간편하게 언제 어디서든 이용 가능 하십니다. 
앞으로도 더 발전하는 사이트가 되도록 노력 하겠습니다.

※ 위와 관련 궁금하신 부분은 콜센터: " 1234-5678 "로  문의 주시기 바랍니다.

- (주)오왕 www.owang.com -
                </div>
            </div>
            <div class="bt_wrap">
                <a href="/notice/notice" class="on">목록</a>
            </div>
        </div>
    </div>
</body>

</html>