<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>company/detail</title>
	<link rel="stylesheet" th:href="@{/css/company/mypage.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</head>

<body>
	<header>
		<div th:insert="~{header :: header}"></div>
	</header>
	<remocon>
       <div th:insert="~{remocon :: remocon}"></div>
    </remocon>
	<main class="content-box">

		<div class="footer-box"> <!-- Container -->
			

			<h1 style="font-size: 20px; margin-left: 10px; color: rgb(52 54 63);">기업회원 정보페이지</h1>
		<h1 style="font-size: 60px; color: rgb(52 54 63); margin-left: 20px;	margin-bottom: 55px;">
	[[${zzcname}]]</h1>
						<hr>
			<!-- 개인일때는 수정삭제가능ㄴ -->
			<br>
			<br>
			<table border="">
		
				<tr>
					<th>기업이름</th>
					<td th:text="${dto.cname}" />
				</tr>
				<tr>
					<th>기업로고</th>

					<th:block th:if="${dto.clogo != null}">
							<td><img id="logoImage" th:src="|/companylogoup/${dto.clogo}|" alt="기업 로고">
						<button onclick="logoImageInNewWindow()">크게보기</button></td>


					</th:block>
					<th:block th:unless="${dto.clogo != null}">
						<td>로고가 존재하지않습니다.</td>
					</th:block>
				</tr>
				<tr>
					<th>대표자</th>
					<td th:text="${dto.cceo}" />
				</tr>
				<tr>
					<th>개업연월일</th>
					<td th:text="${dto.cbuild}" />
				</tr>
				<tr>
					<th>업종</th>
					<td th:text="${dto.ccategory}" />
				</tr>
				<tr>
					<th>직원수</th>
					<td th:text="|${dto.cstaff}명|" />
				</tr>
				<tr>
					<th>한해 매출액</th>
				<td th:text="|${dto.formattedCsales}원|"></td>





				</tr>
				<tr>
					<th>이메일</th>
					<td th:text="${dto.cemail}" />
				</tr>
				<tr>
					<th>본점소재지</th>
					<td th:text="${dto.caddress}" />
				</tr>
				<tr>
					<th>전화번호</th>
					<td th:text="${dto.ccall}" />
				</tr>
				<tr th:if="${session.cid==dto.cid}">
					<th>회원유형</th>
					<td th:if="${dto.ctype == 2}" th:text="|유료회원 마감일:${#dates.format(dto.cdate, 'yyyy-MM-dd')}|"></td>
					<td th:unless="${dto.ctype == 2}" th:text="일반회원"></td>
				</tr>
				<tr>
					<th>기업인증여부</th>
					<td th:if="${dto.capproval}" th:text="기업인증완료"></td>
					<td th:unless="${dto.capproval}" th:text="기업미인증"></td>
				</tr>
				<tr>
					<th>회사소개</th>
					<td class="alot" th:text="${dto.ccontent}" />
				</tr>
				<tr>
					<th>복지 및 혜택</th>
					<td class="alot" th:text="${dto.cwelfare}" />
				</tr>
				<tr th:if="${session.cid == dto.cid}">
					<th>사업자증명서</th>
					<td><button onclick="openImageInNewWindow()">사업자등록증 확인</button></td>
				</tr>

			</table>

			<div class="left-button-container">
				<a class="button" href="/">홈으로</a>
			</div>
			<div class="right-button-container">
				<a class="buttonz"  href="/company/modify">수정</a>
				<a class="button" href="/company/delete">삭제</a>
			</div>


		</div>
	</main>
	<script>
		function openImageInNewWindow() {
			// 이미지 URL 설정
			var image = "[[${dto.ccompanyFile}]]";

			// 새 창 열기
			var newWindow = window.open('', '_blank');

			// 이미지를 새 창에 표시
			newWindow.document.write('<img src="/companyup/' + image + '" alt="이미지" />');
		}

		function logoImageInNewWindow() {
			// 이미지 URL 설정
			var image = "[[${dto.clogo}]]";

			// 새 창 열기
			var newWindow = window.open('', '_blank');

			// 이미지를 새 창에 표시
			newWindow.document.write('<img src="/companylogoup/' + image + '" alt="이미지" />');
		}

	</script>
</body>
<footer>
       <div th:insert="~{footer :: footer}"></div>
    </foote>
    

</html>