<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이쁜로그인화면가즈아</title>
  	<link rel="stylesheet" th:href="@{/css/admin/adminLogin.css}">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form action="admin" method="post" >
            <h2>로그인</h2>
            <div class="inputbox">
                <input type="text" name="id" required="required">
                <span>아이디</span>
                <i></i>
            </div>
            <div>
                <div class="inputbox">
                    <input type="password" name="pw" required="required">
                    <span>비밀번호</span>
                    <i></i>
                    <!-- span과 i를 input css로 맨위로 올려줌 -->
                </div>
            </div>
      
            <input type="submit" value="로그인">
            <a href="/" style="color: rgb(128, 255, 255);">메인화면</a>
        </form>
    </div>
</body>
</html>