<!DOCTYPE html>
<html>

<head>
    <title>기업 이용약관</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }
    </style>
</head>

<body>
    <h1>기업 이용약관</h1>
    <p>
        1. 회원가입 및 정보 제공
        <br>
        1.1 회원으로 가입하려면 정확한 기업 정보를 제공해야 합니다.
        <br>
       	1.2 개인 정보는 개인 정보 보호 정책에 따라 안전하게 보호됩니다.<br>
        <strong style="color: darkorange;">※ 개인정보는 탈퇴일부터 최대 1년간 보관 후 파기됩니다.</strong><br>
        - 회원이 오왕계정을 탈퇴하는 경우,
        오왕사이트에서 작성한 기업공고 및 개인 이력서는 삭제되어 복구가 불가능합니다.<br>
        <br>
        <br><br>

        2. 채용 공고 게시
        <br>
        2.1 채용 공고를 게시하려면 해당 직무와 관련된 정보를 정확하게 기입해야 합니다.
        <br>
        2.2 부적절한 내용, 사기성 정보, 불법적 활동은 엄격히 금지되며, 조치를 취할 수 있습니다.
        <br><br>

        3. 개인 정보 보호
        <br>
        3.1 지원자의 개인 정보를 적절하게 처리하고 보호해야 합니다.
        <br>
        3.2 개인 정보 침해 시 즉각 조치를 취하고 해당 당국에 통보해야 합니다.
        <br><br>

        4. 서비스 이용 제한
        <br>
        4.1 악의적인 목적으로 서비스를 남용하거나 방해하는 행위는 엄격히 금지됩니다.
        <br>
        4.2 서비스 이용을 제한하거나 계정을 비활성화하는 권한이 있습니다.
        <br><br>

        5. 법적 책임
        <br>
        5.1 기업은 채용 과정에서 모든 관련 법규를 준수해야 합니다.
        <br>
        5.2 법적 분쟁 시 회사는 법적인 책임을 지지 않습니다.
        <br><br>

    </p>
</body>

</html>
