<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>비밀번호</title>
	<link rel="stylesheet" th:href="@{/css/login/idpw.css}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script th:inline="javascript">
		  var countdown; // 카운트다운 타이머 변수

        function startCountdown() {
            var count = 60; // 초기 카운트 설정 (60초)
            // "인증번호 전송" 버튼 비활성화
    $("#sendBtn").css("display", "none");

            // 카운트다운 시작
            countdown = setInterval(function () {
                $("#message").text(count + "초 후에 인증번호발송이 다시 활성화됩니다.");
                count--;

                // 카운트가 0이 되면 타이머 종료하고 버튼 활성화
                if (count < 0) {
                    clearInterval(countdown);
                    $("#sendBtn").css("display", "inline-block");
                    $("#message").text(""); // 메시지 초기화
                }
            }, 1000);
        }

        function sendNumber() {
            // "인증번호 전송" 버튼 비활성화
              $("#sendBtn").css("display", "none");

            // 메시지 표시용 div 엘리먼트
            var messageDiv = $("#message");
            messageDiv.text(""); // 메시지 초기화

            $("#mail_number").css("display", "block");
            $.ajax({
                // 서버 측에서 동적으로 설정되어야 하는 URL
                url: "/login/mail",
                type: "post",
                dataType: "json",
                data: { "mail": $("#mail").val() },
                success: function (data) {
                    messageDiv.text("인증번호 발송");
                    $("#Confirm").val(data);

                    // 카운트다운 시작
                    startCountdown();
                }
            });
        }
		function confirmNumber() {
			var number1 = $("#number").val().trim(); // 입력 값에서 공백 제거
			var number2 = $("#Confirm").val();
			var csuserid = /*[[${csuserid}]]*/ null;
			if (number1 == number2) {
				alert("인증되었습니다.");
				window.location.href = "/login/findpwreg/"+csuserid;
			} else {
				alert("번호가 다릅니다.");
			}
		}
	</script>
	
</head>

<body>

	<header>
		<div th:insert="~{header :: header}"></div>
	</header>
	<div class="container">
		<div class="page">
		
	<h1>비밀번호 찾기</h1>
	<div id="mail_input" name="mail_input">
		<input type="text" name="mail" id="mail" th:value="${email}" readonly/>
		<button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호전송</button>
	</div>
	<!-- 메시지를 표시할 div 엘리먼트 -->
    <div id="message"></div>
	<br>
	
	<div id="mail_number" name="mail_number" style="display: none">
		<input type="text" name="number" id="number" placeholder="인증번호 입력"/>
		<button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>

	</div>
	<br>
	<input type="hidden" id="Confirm" name="Confirm" value="">
		
		</div>
	</div>
</body>
<footer>
       <div th:insert="~{footer :: footer}"></div>
    </foote>
    

	

</html>