<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/login/pwreset.css}">
</head>
<body>
   <header>
      <div th:insert="~{header :: header}"></div>
   </header>
   <div class="container">
		<div class="page">
   	<h1>비밀번호를 변경합니다</h1>
	<form name="frm" method="post">
		<input type="hidden" name="id" th:text="${id}" />
		<table border="">
			<tr id="passwordChangeRow">
				<td>새 비밀번호</td>
				<td><input type="password" name="pw" id="newpw" /></td>
			</tr>
			<tr id="passwordConfirmationRow">
				<td>비밀번호 확인</td>
				<td><input type="password" name="pw2" id="pw2" /></td>
			</tr>
			
	</table>
	<input type="submit" value="수정" />
</form>
		</div>
   </div>
</body>
<footer>
       <div th:insert="~{footer :: footer}"></div>
    </foote>
    
</html>
